doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="css/style.css")
		
		title Liquid Animation

	body


		main
		
			section(class="inner-page u-df-center")

				.loader(class="u-df-center")

					.particle
					.particle(class="left-spin")
					.particle
					.particle(class="right-spin")
					.particle
					.particle(class="left-spin")
					.particle
					.particle(class="right-spin")
					.particle
			



		script(src="js/app.js")
